# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
target/generated-sources/
target/hotel/WEB-INF/admin/phone/
target/hotel/WEB-INF/admin/shop/
