# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
target/generated-sources/
target/hotel/WEB-INF/admin/phone/
target/hotel/WEB-INF/admin/shop/
target/classes/com/syshotel/controller/OrderProcessLogController.class
target/classes/com/syshotel/utils/DateUtil.class
target/classes/com/syshotel/utils/NumberUtil.class
target/classes/com/syshotel/utils/OrderCodeUtil.class
target/hotel/WEB-INF/admin/hotel/hotel-add.jsp
target/hotel/WEB-INF/admin/hotel/hotel-edit.jsp
target/hotel/WEB-INF/admin/order/order-continue.jsp
target/hotel/WEB-INF/admin/order/order-log.jsp
target/hotel/WEB-INF/admin/user/user-edit-self.jsp
target/hotel/WEB-INF/classes/com/syshotel/controller/OrderProcessLogController.class
target/hotel/WEB-INF/classes/com/syshotel/utils/DateUtil.class
target/hotel/WEB-INF/classes/com/syshotel/utils/NumberUtil.class
target/hotel/WEB-INF/classes/com/syshotel/utils/OrderCodeUtil.class
target/hotel/WEB-INF/client/add_wallet.jsp
target/hotel/WEB-INF/client/common/onlyIndexMenu.jsp
target/hotel/WEB-INF/client/order/inUse.jsp
target/hotel/WEB-INF/client/order/needUse.jsp
target/hotel/WEB-INF/client/order/orderCancer.jsp
target/hotel/WEB-INF/client/order/orderContinue.jsp
target/hotel/WEB-INF/client/order/orderReturn.jsp
target/hotel/upload/1555598147911r4.jpg
target/hotel/upload/1555598668635r5.jpg
target/hotel/upload/1555598859395r4.jpg
target/hotel/upload/1555599723283r2.jpg
target/hotel/upload/1555599935297r4.jpg
target/hotel/upload/1555600075087r1.jpg
target/hotel/upload/1555600112235r5.jpg
target/hotel/upload/1555730593583r3.jpg
target/hotel/upload/1555731939606r2.jpg
!/.idea/
